{% extends 'base.html' %}
{% block title %} {{title}} {% endblock title %}

{% block header %}
{{block.super}}
{% endblock header %}
{% block content %}
<!-- <h1>Welcome to Home Page</h1> -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xxl-9">
            {% for post in posts %}
            
                <!-- Post preview-->
                <div class="post-preview">
                <a href="{% url 'post_detail' post.pk post.slug %}">
                    <h2 class="post-title">{{post.title|title}}</h2>
                    <h3 class="post-subtitle">{{post.Summary | truncatechars:50}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{% url 'post_detail' post.pk post.slug %}">{{post.author}}</a>
                    on {{post.created_at|date:"d, F Y"}}
                    | modified on {{post.modified_at|date:"d, F Y"}}
                    | {% for tag in posts.tags.all %}
                        {{tag.name}}
                        {{tag.title}}
                        {{tag.value}}
                      {% endfor %}
                </p>
                </div>
                {% empty %}
                <h4 class="text-center">No post available right now..!!!</h4> 
            <hr class="my-4" />
            {% endfor%}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                <a class="btn-sm btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %} 

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn-sm btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn-sm btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn-sm btn-outline-info mb-sm-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn-sm btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>

            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div> -->
    </div>
</div>
{% endblock content %}